$txt-color: #17b970;
$bg-color: #fff600;

$browse-default-font-size: 75px !default;
@function pr($px) {
  @return $px / $browse-default-font-size * 1rem;
}

$padding-size: pr(30px);

%in-b {
  display: inline-block;
  *zoom: 1;
  *display: inline;
}

%one {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

%clearfix {
  zoom: 1;

  &:after {
    clear: both;
  }

  &:before, &:after {
    content: "";
    display: table;
  }
}

/* 多少行显示省略号 */
@mixin ells($row) {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: $row;
  -webkit-box-orient: vertical;
}

/* 垂直居中，两端对齐 */
.space-between {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
}

/* 垂直居中，水平居中 */
.space-around {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
}

h1, h2, h3, div, p, span, strong, a {
  box-sizing: border-box;
}

.wrap {
  max-width: pr(750px);
  margin: 0 auto;
  overflow: hidden;
  //background-color: $txt-color;
  background: url("../images/wrap-bg.png") $txt-color repeat-y;
  background-size: contain;

  padding-bottom: pr(148px);
}

.header {
  width: 100%;
  height: pr(900px);
  background: url("../images/banner.png") no-repeat;
  background-size: 100% 100%;
  padding-top: pr(40px);
  padding-left: pr(40px);
  text-align: center;

  .logo {
    display: block;
    width: pr(177px);
    height: pr(57px);
  }

  .tutor {
    display: block;
    width: pr(290px);
    height: pr(60px);
    line-height: pr(60px);
    background-image: linear-gradient(0deg,
        #0dac64 0%,
        #0cd3b0 100%),
    linear-gradient($txt-color, $txt-color);
    border-radius: pr(30px);
    font-size: pr(28px);
    letter-spacing: pr(2px);
    color: #ffffff;
    font-weight: bold;
    margin: pr(38px) auto;
    &:before, &:after{
      @extend %in-b;
      content: '';
      width: pr(6px);
      height: pr(6px);
      background-color: #ffffff;
      vertical-align: middle;
      border-radius: 50%;
    }
  }

  .assure {
    font-size: pr(28px);
    line-height: pr(40px);
    color: #ffffff;
    margin-top: pr(205px);

    strong {
      @extend %in-b;
      width: pr(86px);
      height: pr(40px);
      background: url("../images/icon_1.png") no-repeat;
      background-size: 100% 100%;
      color: $txt-color;
    }
  }
}

.title-module {
  text-align: center;
  margin-top: pr(46px);
  padding-bottom: pr(44px);
  font-weight: bold;

  .left-icon, .right-icon {
    @extend %in-b;
    vertical-align: text-top;
  }

  .left-icon {
    width: pr(26px);
    height: pr(26px);
    background: url("../images/icon_2.png") no-repeat;
    background-size: 100% 100%;
  }

  .text {
    @extend %in-b;
    height: pr(42px);
    line-height: pr(42px);
    font-size: pr(36px);
    color: #ffffff;
    background: url("../images/icon_4.png") no-repeat bottom;
    background-size: contain;
    padding-left: pr(10px);
    padding-right: pr(6px);

    strong {
      color: $bg-color;
    }
  }

  .right-icon {
    width: pr(34px);
    height: pr(25px);
    background: url("../images/icon_3.png") no-repeat;
    background-size: 100% 100%;
  }
}

/* 优师 */
.best-teacher {
  padding: 0 $padding-size;

  .content {
    width: 100%;
    //width: pr(690px);
    //height: pr(1699px);
    background-color: #ffffff;
    border-radius: pr(10px);
    padding: pr(32px) pr(38px) pr(30px);
    letter-spacing: pr(2px);
    color: #333333;

    p {
      text-indent: 1em;
      text-align: justify;
      font-size: pr(28px);
      line-height: pr(48px);
      margin-bottom: pr(20px);

      strong {
        color: $txt-color;
        //font-weight: normal;
      }
    }
  }
}

/* 特惠 */
.discounts {
  padding: 0 $padding-size;
  .content {
    width: 100%;
    //height: pr(888px);
    background-color: #ffffff;
    border-radius: pr(10px);
    padding: pr(21px) $padding-size 0;
    .item {
      text-align: center;
      border-bottom: 1px dashed #18af5c;
      padding-top: pr(49px);
      padding-bottom: pr(50px);
      img {
        width: pr(164px);
        height: pr(164px);
      }
      .item-title {
        font-size: pr(32px);
        font-weight: bold;
        line-height: pr(48px);
        letter-spacing: pr(3px);
        color: #333333;
        padding-top: pr(18px);
        padding-bottom: pr(6px);
      }
      p {
        padding: 0 pr(60px);
        font-size: pr(28px);
        line-height: pr(48px);
        letter-spacing: pr(1px);
        color: #333333;
        strong {
          color: $txt-color;
          font-weight: bold;
        }
      }

      &:last-child {
        border-bottom: none;
      }
    }
  }
}

/* 约课 */
.appoint-course {
  padding: 0 $padding-size;
  .content {
    width: 100%;
    //width: pr(690px);
    //height: pr(628px);
    background-color: #ffffff;
    border-radius: pr(10px);
    padding: pr(32px) pr(38px) pr(30px);
    p {
      text-align: justify;
      font-size: pr(28px);
      line-height: pr(48px);
      margin-bottom: pr(20px);
      strong {
        color: $txt-color;
        font-weight: bold;
      }
    }
    .qr-code {
      text-align: center;
      padding: $padding-size 0;
      .qr-code-item {
        @extend %in-b;
        width: pr(164px);
        height: pr(164px);
        background: url("../images/qr-code-bg.png") no-repeat;
        background-size: 100% 100%;
        margin-left: pr(44px);
        margin-right: pr(44px);
        padding: pr(6px);
      }
      .hint {
        @extend %in-b;
        font-size: pr(28px);
        line-height: pr(48px);
        letter-spacing: pr(2px);
        color: $txt-color;
        padding-top: $padding-size;
      }
    }
  }
}

/* 师咨介绍 */
.teacher-introduce {
  padding: 0 $padding-size;

  .content {
    width: 100%;
    //width: pr(690px);
    //height: pr(1044px);
    background-color: #ffffff;
    border-radius: pr(10px);
    padding: pr(40px) pr(30px) pr(20px);

    .item {
      @extend %clearfix;
      padding-bottom: pr(40px);

      .avatar {
        width: pr(150px);
        height: pr(150px);
        background-color: rgba(23, 185, 112, 0.2);
        padding: pr(20px);
        border-radius: 50%;
        float: left;
      }

      .detail {
        width: pr(450px);
        float: left;
        margin-left: pr(15px);

        .name {
          font-size: pr(32px);
          font-weight: bold;
          line-height: pr(32px);
          letter-spacing: pr(3px);
          color: #333333;
          margin-right: pr(10px);
        }

        .honor {
          @extend %in-b;
          height: pr(40px);
          line-height: pr(40px);
          background-color: #effff8;
          border-radius: pr(4px);
          border: solid 1px $txt-color;
          padding: 0 pr(13px);
          color: $txt-color;
        }

        p {
          font-size: pr(28px);
          line-height: pr(44px);
          letter-spacing: pr(2px);
          color: #666666;
          text-align: justify;
          padding-top: pr(6px);
        }
      }
    }
  }
}

/* 优势 */
.advantage {
  padding: 0 $padding-size;
  .content {
    width: 100%;
    //width: pr(690px);
    //height: pr(1786px);
    background-color: #ffffff;
    border-radius: pr(10px);
    padding: pr(40px) pr(30px) pr(50px);
    .adv-title {
      font-size: pr(32px);
      font-weight: bold;
      line-height: pr(90px);
      letter-spacing: pr(2px);
      color: #333333;
      text-align: center;
      strong {
        color: $txt-color;
        background: url("../images/icon_7.png") no-repeat bottom;
        background-size: contain;
      }
    }
    p {
      font-size: pr(28px);
      line-height: pr(44px);
      letter-spacing: pr(2px);
      color: #666666;
      text-align: justify;
      padding-top: pr(6px);
      padding-left: pr(30px);
      padding-right: pr(30px);
    }

    .detail {
      margin-top: pr(20px);

      .item {
        margin-bottom: pr(10px);

        .item-title {
          width: pr(213px);
          height: pr(91px);
          background: url("../images/step_1.png") no-repeat left;
          background-size: 100% 100%;
          padding: pr(30px) pr(5px) pr(5px) pr(20px);
          font-size: pr(32px);
          font-weight: bold;
          line-height: pr(56px);
          letter-spacing: pr(3px);
          color: #ffffff;
          text-align: center;
          margin-bottom: pr(7px);
        }

        .text {
          height: pr(180px);
          border-left: 1px dashed $txt-color;
          margin-left: pr(20px);
          //padding-bottom: pr(44px);
          p {
            @include ells(4);
          }
        }

        &:nth-of-type(2) {
          .item-title {
            background: url("../images/step_2.png") no-repeat left;
            background-size: 100% 100%;
          }
        }

        &:nth-of-type(3) {
          .item-title {
            background: url("../images/step_3.png") no-repeat left;
            background-size: 100% 100%;
          }
        }

        &:nth-of-type(4) {
          .item-title {
            background: url("../images/step_4.png") no-repeat left;
            background-size: 100% 100%;
          }
        }
      }
    }

    .feature {
      width: pr(630px);
      //height: pr(260px);
      background: url("../images/feature.png") no-repeat;
      background-size: 100% 100%;
      margin: 0 auto;
      padding-top: pr(30px);
      padding-left: pr(32px);
      padding-bottom: pr(30px);

      .feature-title {
        //width: pr(369px);
        //height: pr(79px);
        font-size: pr(32px);
        font-weight: bold;
        line-height: pr(48px);
        letter-spacing: pr(1px);
        color: #333333;

        strong {
          background: url("../images/icon_7.png") no-repeat bottom;
          background-size: contain;
          color: $txt-color;
          padding-left: pr(10px);
        }
      }

      p {
        font-size: pr(28px);
        font-weight: normal;
        line-height: pr(48px);
        letter-spacing: pr(1px);
        color: $txt-color;
        padding-left: 0;
      }
    }
  }
}

/* 指导 */
.guidance {
  padding: 0 $padding-size;
  .content {
    width: 100%;
    //width: pr(690px);
    //height: pr(993px);
    background-color: #ffffff;
    border-radius: pr(10px);
    padding: pr(40px) pr(50px);
    .guidance-title {
      width: pr(480px);
      font-size: pr(32px);
      font-weight: bold;
      line-height: pr(52px);
      //letter-spacing: pr(3px);
      color: #333333;
      text-align: center;
      margin-bottom: pr(30px);
      margin-left: auto;
      margin-right: auto;
      strong {
        color: $txt-color;
        background: url("../images/icon_7.png") no-repeat bottom;
        background-size: contain;
      }
    }
    .mentality{
      width: 100%;
    }
    .item {
      width: 100%;
      height: pr(68px);
      background-color: #e5fff4;
      border-radius: pr(34px);
      @extend %clearfix;
      margin-bottom: pr(30px);
      .num {
        width: pr(88px);
        height: pr(88px);
        background-color: rgba(23, 185, 112, 0.2);
        border-radius: 50%;
        margin-top: pr(-10px);
        padding: pr(10px);
        text-align: center;
        float: left;
        span {
          display: block;
          width: 100%;
          height: 100%;
          background-color: $txt-color;
          border-radius: 50%;
          line-height: pr(68px);
          font-size: pr(40px);
          font-weight: bold;
          color: $bg-color;
        }
      }
      .text{
        float: left;
        width: 76%;
        margin-left: pr(35px);
        font-size: pr(30px);
        line-height: pr(68px);
        letter-spacing: pr(2px);
        color: $txt-color;
        @extend %one;
        text-align: left;
      }
    }
  }
}

/* 技巧 */
.skill{
  padding: 0 $padding-size;
  .content{
    width: 100%;
    //width: pr(690px);
    //height: pr(1238px);
    background-color: #ffffff;
    border-radius: pr(10px);
    padding: pr(50px) pr(30px) pr(20px);
    .item{
      margin-bottom: pr(50px);
      .item-title{
        //width: pr(500px);
        height: pr(60px);
        line-height: pr(60px);
        background: url("../images/icon_8.png") no-repeat;
        background-size: 100% 100%;
        padding-left: pr(28px);
        padding-right: pr(38px);
        @extend %in-b;
        color: #ffffff;
        strong{
          color: $bg-color;
        }
      }
      .detail{
        width: 100%;
        //height: pr(603px);
        background: url("../images/skill.png") no-repeat #e5fff4 bottom;
        background-size: contain;
        @extend %clearfix;
        padding: pr(48px) pr(29px) pr(48px) pr(48px);
        font-size: pr(28px);
        line-height: pr(48px);
        border-radius: pr(10px);
        .detail-title{
          float: left;
          color: $txt-color;
          margin-left: pr(-10px);

        }
        .detail-text{
          float: left;
          color: #333333;
          margin-bottom: pr(4px);

        }
        .sprint{
          width: 69%;
        }
      }
    }
  }
}

/* 高效 */
.efficient{
  padding: 0 $padding-size;
  .content{
    width: 100%;
    //width: pr(690px);
    //height: pr(1070px);
    background-color: #ffffff;
    border-radius: pr(10px);
    padding: pr(50px) pr(30px) pr(20px);
    .efficient-title{
      font-size: pr(32px);
      font-weight: bold;
      line-height: pr(42px);
      letter-spacing: pr(3px);
      color: #333333;
      text-align: center;
      margin-bottom: pr(20px);
      strong{
        color: $txt-color;
        background: url("../images/icon_7.png") no-repeat bottom;
        background-size: contain;
      }
    }
    .intro{
      font-size: pr(28px);
      line-height: pr(42px);
      letter-spacing: pr(3px);
      color: #333333;
      text-align: center;
      strong{
        color: $txt-color;
      }
    }
    .detail{
      margin-top: pr(20px);
      .item{
        margin-bottom: pr(40px);
        .item-top{
          //width: pr(630px);
          //height: pr(170px);
          //background-color: #e5fff3;
          //border-radius: pr(10px);
          //border: solid 1px #2db76d;
          background: url("../images/study.png") no-repeat;
          background-size: 100% 100%;
          padding: pr(26px);
          margin-bottom: pr(10px);
          p{
            font-size: pr(30px);
            line-height: pr(48px);
            letter-spacing: pr(1px);
            color: #333333;
          }
          .formula{
            color: $txt-color;
            strong{
              background: url("../images/icon_7.png") no-repeat bottom;
              background-size: contain;
            }
          }
        }
        .item-bottom{
          //width: pr(604px);
          font-size: pr(28px);
          line-height: pr(48px);
          //letter-spacing: pr(2px);
          color: #666666;
          text-align: justify;
        }
        &:nth-of-type(2){
          .item-top{
            background: url("../images/ability.png") no-repeat;
            background-size: 100% 100%;
          }

        }
      }
    }
  }
}

/* 对比 */
.compare{
  padding: 0 $padding-size;
  .content{
    width: 100%;
    //width: pr(690px);
    height: pr(622px);
    position: relative;
    @extend %clearfix;
    background-color: #ffffff;
    border-radius: pr(10px);
    padding: pr(62px) pr(30px) pr(50px);
    .detail{
      width: 100%;
      height: 100%;
      border-radius: pr(10px);
      @extend %clearfix;
      position: relative;
      .column{
        background-color: #e5fff4;
        position: absolute;
        span{
          height: pr(82px);
          //display: block;
          display: flex;
          justify-content: center;
          align-items: center;
          text-align: center;
          //background-color: #e5fff4;
          strong{
            color: $bg-color;
          }
        }
      }
      .contrast{
        width: 15%;
        border-top-left-radius: pr(10px);
        border-bottom-left-radius: pr(10px);
        top: 0;
        left: 0;
      }
      .good{
        width: 43%;
        left: 15%;
        top: pr(-12px);
        border-radius: pr(10px);
        background-color: $txt-color;
        z-index: 100;
        span{
          height: pr(86px);
          color: #ffffff;
          border-bottom: 1px solid #ffffff;
          padding-left: pr(22px);
          padding-right: pr(22px);
          &:last-child{
            border-bottom: none;
          }
        }
      }
      .normal{
        width: 42%;
        border-top-right-radius: pr(10px);
        border-bottom-right-radius: pr(10px);
        top: 0;
        right: 0;
        span{
          border-bottom: 1px solid #ffffff;
          color: #999999;
          padding-left: pr(22px);
          padding-right: pr(22px);
          &:first-child{
            color: #333333;
          }
          &:last-child{
            border-bottom: none;
          }
        }
      }
    }
  }
}

/* 案例 */
.case{
  padding: 0 $padding-size;
  .content{
    width: 100%;
    //width: pr(700px);
    //height: pr(680px);
    background-color: #85deae;
    border-radius: pr(10px);
    padding: pr(5px);
    .thead{
      height: pr(66px);
      line-height: pr(66px);
      border-top-left-radius: pr(10px);
      border-top-right-radius: pr(10px);
      background-color: $bg-color;
      color: $txt-color;
      border-bottom: 1px solid #85deae;
      span{
        display: block;
        width: 17%;
        float: left;
        border-right: 1px solid #85deae;
        text-align: center;
        &:last-child{
          width: 32%;
          border-right: none;
        }
      }
    }
    .tbody{
      background-color: #ffffff;
      border-bottom-left-radius: pr(10px);
      border-bottom-right-radius: pr(10px);
      .row{
        border-bottom: 1px solid #85deae;
        @extend %clearfix;
        span{
          //display: block;
          width: 17%;
          height: pr(66px);
          float: left;
          border-right: 1px solid #85deae;
          text-align: center;
          color: $txt-color;
          display: flex;
          justify-content: center;
          align-items: center;
          &:nth-child(odd){
            background-color: #f0fff9;
          }
          &:last-child{
            width: 32%;
            border-right: none;
          }
        }
        &:last-child{
          border-bottom: none;
          span{
            &:first-child{
              border-bottom-left-radius: pr(10px);
            }
            &:last-child{
              border-bottom-right-radius: pr(10px);
            }
          }
        }
      }
    }
  }
}

/* 关于我们 */
.about-us{
  padding: 0 $padding-size;
  .content{
    width: 100%;
    //width: pr(686px);
    //height: pr(1244px);
    background-color: #ffffff;
    border-radius: pr(10px);
    padding: pr(32px) pr(28px);
    .bg{
      margin-bottom: pr(30px);
    }
    p{
      text-indent: 1em;
      font-size: pr(28px);
      line-height: pr(48px);
      letter-spacing: pr(2px);
      color: #333333;
      margin-bottom: pr(5px);
      strong{
        color: $txt-color;
        font-weight: normal;
      }
    }
  }
}

/* 联系我们 */
.contact-us{
  padding: 0 $padding-size;
  .content{
    width: 100%;
    //width: pr(686px);
    //height: pr(488px);
    background-color: #ffffff;
    border-radius: pr(10px);
    padding: pr(32px) pr(28px);
    .row{
      @extend %clearfix;
      display: flex;
      align-items: center;
      .icon{
        display: block;
        width: pr(18px);
        height: pr(24px);
        background: url("../images/icon_9.png") no-repeat;
        background-size: 100% 100%;
      }
      span{
        font-size: pr(28px);
        line-height: pr(48px);
        letter-spacing: pr(1px);
        color: #333333;
        margin-left: pr(12px);
      }
      &:nth-of-type(2){
        .icon{
          width: pr(18px);
          height: pr(18px);
          background: url("../images/icon_10.png") no-repeat;
          background-size: 100% 100%;
        }
      }
      &:nth-of-type(3){
        .icon{
          width: pr(20px);
          height: pr(16px);
          background: url("../images/icon_11.png") no-repeat;
          background-size: 100% 100%;
        }
      }
    }
    .qr-code {
      padding: $padding-size 0 pr(20px);
      display: flex;
      justify-content: space-between;
      .qr-code-item {
        text-align: center;
        .detail{
          @extend %in-b;
          width: pr(162px);
          height: pr(162px);
          background: url("../images/qr-code-bg.png") no-repeat;
          background-size: 100% 100%;
          padding: pr(6px);
        }
        span{
          display: block;
          font-size: pr(28px);
          line-height: pr(48px);
          letter-spacing: pr(2px);
          color: $txt-color;
          padding-top: pr(20px);
        }
      }


    }
  }
}

/* 底部固定 */
.footer-fixed{
  width: pr(750px);
  @extend %clearfix;
  position: fixed;
  bottom: 0;
  z-index: 100;
  .item{
    width: 50%;
    height: pr(98px);
    line-height: pr(98px);
    background-color: #009846;
    float: left;
    //text-align: center;
    font-size: pr(32px);
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    .icon{
      @extend %in-b;
      width: pr(34px);
      height: pr(36px);
      background: url("../images/icon_12.png") no-repeat;
      background-size: 100% 100%;
      vertical-align: middle;
      margin-right: pr(16px);
    }
    &:nth-of-type(2){
      background-color: $bg-color;
      color: $txt-color;
      .icon{
        width: pr(36px);
        height: pr(36px);
        background: url("../images/icon_13.png") no-repeat;
        background-size: 100% 100%;
      }
    }
  }
}